header{
    background-color: pink;
    display: flex;
    height:80px;
    justify-content:space-around;
    align-items: center;
}
/* The main axis of the flex container is the direction and it is justify-content */
header h1{
    /* background-color: red; */
    width: 30%;
}

nav{
    /* background-color: blue; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    height: 80%;
    align-items: center;
}


.main-section{
    display:flex;
}
.main-section > h1{
    width:20%;
}

.main-section > section{
    width:80%;
    background-color: red;
}


@media screen and (max-width : 800px) {
    header{
        flex-direction: column;
    }
    nav{
        height: 50%;
        width: 90%
    }
    header h1{
        height: 35%;
        text-align: center;
    }
}
